# Mengimport Library Pandas sebagai variabel pd

In [26]:
import pandas as pd

# Read file CSV kedalam variabel df

In [27]:
df = pd.read_csv("large_data.csv")

# Membagi Dataset menjadi training set dan testing set dengan proporsi 70:30

##### Mengimport train_test_split dari Library Sklearn untuk membagi data menjadi train set dan test set

In [28]:
from sklearn.model_selection import train_test_split

# DATA SPLIT

##### untuk mengubah proporsi menjadi 70:30, isi test_size menjadi 0.3

In [29]:
x = df.drop('TYPE', axis=1)
y = df['TYPE']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

##### Melihat dimensi atau bentuk dari training set dan test set

In [30]:
print("dimensi x_train = ", x_train.shape)
print("dimensi x_test = ", x_test.shape)
print("dimensi y_train = ", y_train.shape)
print("dimensi y_test = ", y_test.shape)

dimensi x_train =  (31117, 20)
dimensi x_test =  (13336, 20)
dimensi y_train =  (31117,)
dimensi y_test =  (13336,)

# Normalisasi

##### Mengimport fungsi Min Max scaler untuk normalisasi

In [31]:
from sklearn.preprocessing import MinMaxScaler

##### Copy datset

In [32]:
df_nor = df.copy()

##### Normalisasi attribut "COUGH" menggunakan Min Max sclaer

In [33]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df_nor[['COUGH']])
df_nor['COUGH'] = scaled_data

##### Menampilkan hasil setelah normalisasi

In [34]:
print("SEBELUM: ")
print(df ['COUGH'].describe(),"\n\n")
print("SESUDAH: ")
print(df_nor['COUGH'].describe())

SEBELUM:
count    44453.000000
mean         0.520662
std          0.499579
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: COUGH, dtype: float64


SESUDAH:
count    44453.000000
mean         0.520662
std          0.499579
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: COUGH, dtype: float64

# STANDARISASI

##### Mengimport fungsi StandarScaler untuk standarisasi dan Library Numpy

In [35]:
from sklearn.preprocessing import StandardScaler
import numpy as np

##### Standarisasi attribut "COUGH"

In [36]:
df_stan = df.copy()
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_stan[['COUGH']])
df_stan['COUGH'] = scaled_data

##### Menampilkan hasil setelah standarisasi

In [37]:
print("Nilai standar Deviasi:")
print("SEBELUM : ")
print(np.std(df['COUGH']),"\n")
print("SESUDAH: ")
print(np.std(df_stan['COUGH']))

Nilai standar Deviasi:
SEBELUM :
0.4995728880700168

SESUDAH:
0.9999999999999998

# MENANGANI NILAI NULL

#### 1. Menangani nilai Null pada attribut "COUGH" dengan tipe data INT menggunakan strategi MEDIAN

##### Karena tidak ada nilai Null pada attribut "COUGH", maka buat nilai Null terlebih dahulu

In [38]:
df_null = df.copy()

df_null.loc[1000:,'COUGH'] = np.nan
df.loc[1000:, 'COUGH'] = np.nan
print("Nilai Null Pada attribut COUGH:")
print(df_null['COUGH'].isna().sum())

Nilai Null Pada attribut COUGH:
43453

##### Menangani Nilai Null

In [39]:
df_null['COUGH'].fillna(df_null['COUGH'].median(), inplace= True)

#### 2. Menangani nilai Null pada attribut "TYPE" dengan type OBJECT menggunakan strategi MODUS

##### Menambahkan nilai Null pada attribut "TYPE"

In [40]:
df_null.loc[1000:,'TYPE'] = np.nan
df.loc[1000:, 'TYPE'] = np.nan
print("Nilai Null Pada attribut TYPE:")
print(df_null['TYPE'].isna().sum())

Nilai Null Pada attribut TYPE:
43453

##### Menangani nilai Null Pada attribut "TYPE"

In [41]:
df_null['TYPE'].fillna(df_null['TYPE'].mode()[0], inplace= True)

##### Menampilkan nilai sesudah dan sebelum menangani nilai Null

##### SEBELUM

In [42]:
df.isna().sum()

COUGH                   43453
MUSCLE_ACHES                0
TIREDNESS                   0
SORE_THROAT                 0
RUNNY_NOSE                  0
STUFFY_NOSE                 0
FEVER                       0
NAUSEA                      0
VOMITING                    0
DIARRHEA                    0
SHORTNESS_OF_BREATH         0
DIFFICULTY_BREATHING        0
LOSS_OF_TASTE               0
LOSS_OF_SMELL               0
ITCHY_NOSE                  0
ITCHY_EYES                  0
ITCHY_MOUTH                 0
ITCHY_INNER_EAR             0
SNEEZING                    0
PINK_EYE                    0
TYPE                    43453
dtype: int64

##### SESUDAH

In [43]:
df_null.isna().sum()

COUGH                   0
MUSCLE_ACHES            0
TIREDNESS               0
SORE_THROAT             0
RUNNY_NOSE              0
STUFFY_NOSE             0
FEVER                   0
NAUSEA                  0
VOMITING                0
DIARRHEA                0
SHORTNESS_OF_BREATH     0
DIFFICULTY_BREATHING    0
LOSS_OF_TASTE           0
LOSS_OF_SMELL           0
ITCHY_NOSE              0
ITCHY_EYES              0
ITCHY_MOUTH             0
ITCHY_INNER_EAR         0
SNEEZING                0
PINK_EYE                0
TYPE                    0
dtype: int64

# MENANGANI NILAI DUPLIKAT

##### Cek apakah ada nilai duplikat

In [44]:
print("Nilai Duplikat: ")
df.duplicated().sum()

Nilai Duplikat:

21309

##### Mengatasi nilai Duplikat

In [45]:
df_null.drop_duplicates(inplace=True)

print("Nilai duplikat : ")
df_null.duplicated().sum()

Nilai duplikat :

0

# MENGGANTI TIPE DATA SALAH SATU ATTRIBUT YANG BERTIPE DATA ANGKA

##### Cek attribut apa saja yang bertipe angka

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44453 entries, 0 to 44452
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COUGH                 1000 non-null   float64
 1   MUSCLE_ACHES          44453 non-null  int64
 2   TIREDNESS             44453 non-null  int64
 3   SORE_THROAT           44453 non-null  int64
 4   RUNNY_NOSE            44453 non-null  int64
 5   STUFFY_NOSE           44453 non-null  int64
 6   FEVER                 44453 non-null  int64
 7   NAUSEA                44453 non-null  int64
 8   VOMITING              44453 non-null  int64
 9   DIARRHEA              44453 non-null  int64
 10  SHORTNESS_OF_BREATH   44453 non-null  int64
 11  DIFFICULTY_BREATHING  44453 non-null  int64
 12  LOSS_OF_TASTE         44453 non-null  int64
 13  LOSS_OF_SMELL         44453 non-null  int64
 14  ITCHY_NOSE            44453 non-null  int64
 15  ITCHY_EYES            44453 non-null  int64
 16  ITCHY_MOUTH           44453 non-null  int64
 17  ITCHY_INNER_EAR       44453 non-null  int64
 18  SNEEZING              44453 non-null  int64
 19  PINK_EYE              44453 non-null  int64
 20  TYPE                  1000 non-null   object
dtypes: float64(1), int64(19), object(1)
memory usage: 7.1+ MB

##### Mengubah Attribut "FEVER" menjadi bertipe data FLOAT

In [47]:
df_null['FEVER'] = df_null['FEVER'].astype(float)

##### SEBELUM

In [48]:
df['FEVER'].dtypes

dtype('int64')

##### SESUDAH

In [49]:
df_null['FEVER'].dtypes

dtype('float64')

# MELAKUKAN ONE HOT ENCODING

##### Melakukan One Hot Encoding pada attribut "TYPE" menggunakan get_dummies dari Pandas

In [50]:
type = pd.get_dummies(df[['TYPE']])
df=df.join(type)
df

,COUGH,MUSCLE_ACHES,TIREDNESS,SORE_THROAT,RUNNY_NOSE,STUFFY_NOSE,FEVER,NAUSEA,VOMITING,DIARRHEA,...,LOSS_OF_TASTE,LOSS_OF_SMELL,ITCHY_NOSE,ITCHY_EYES,ITCHY_MOUTH,ITCHY_INNER_EAR,SNEEZING,PINK_EYE,TYPE,TYPE_ALLERGY
0,0.0,0,1,0,1,0,0,0,0,0,...,1,0,1,0,0,1,0,1,ALLERGY,True
1,0.0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,1,1,1,1,ALLERGY,True
2,0.0,1,1,1,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,ALLERGY,True
3,0.0,0,0,1,1,0,0,0,0,0,...,1,1,0,0,1,0,1,1,ALLERGY,True
4,0.0,0,1,0,1,0,0,0,0,0,...,1,1,0,1,0,1,1,1,ALLERGY,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44448,NaN,0,0,1,0,0,1,0,1,1,...,0,0,0,0,0,0,1,0,NaN,False
44449,NaN,1,0,1,1,0,1,1,0,1,...,1,1,0,0,0,0,1,0,NaN,False
44450,NaN,0,1,0,1,0,0,0,1,1,...,1,0,0,0,0,0,1,0,NaN,False
44451,NaN,0,0,1,1,1,0,0,1,0,...,0,1,0,0,0,0,0,0,NaN,False
44452,NaN,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,NaN,False